--extra-index-url https://pytorch-extension.intel.com/release-whl/stable/xpu/us/
intel-extension-for-pytorch
torch
optimum[openvino]
grpcio==1.75.1
protobuf
librosa==0.11.0
faster-whisper==1.1.1
pydub==0.25.1
wavmark==0.0.3
numpy==2.3.3
eng_to_ipa==0.0.2
inflect==7.5.0
unidecode==1.4.0
whisper-timestamped==1.15.9
openai
python-dotenv
pypinyin==0.55.0
cn2an==0.5.23
jieba==0.42.1
gradio==5.49.1
langid==1.1.6
git+https://github.com/myshell-ai/MeloTTS.git
